html,
body {
  height: 100%; /* 设置根元素的高度 */
  margin: 0; /* 去除默认边距 */
}
.function_btn,
.music_btn {
  position: fixed; /* 固定在畫面上 */
  top: 40px;
  z-index: 100; /* 確保按鈕在最上層 */
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.function_btn img,
.music_btn img {
  width: 80px !important;
  height: 80px !important;
  object-fit: contain; /* 確保圖片不會被拉伸 */
}

.sidebar,
.List {
  background-color: #c9b8ac;
  position: fixed; /* 讓功能列浮動 */
  z-index: 10; /* 保證功能列在前 */
  top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*
nav {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.card {
  padding: 2em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
*/
